.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;

  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10;
  font-size: 20px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #191919;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/*** profile ****/
.account{
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 10;
  font-size: 20px;
}

.account .username {
  background: -webkit-linear-gradient(left, #f1f1f1, #808080);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;

  margin-bottom: 10px;
}

.account .logout {
  border-color: #600083;
}

.account .logout:hover {
  border-color: #cbb4d4;
}